.navbar {
  width: 100vw;
  height: 150px;
  background: linear-gradient(90deg, #384e90 70%, #6ca0dc 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  height: 100px;
  margin-left: 20px;
  margin-top: 15px;
  border-radius: 50%;
}

.links {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.links a {
  text-decoration: none;
  color: #22356f;
  font-weight: bold;
  font-size: 18px;
}
